 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;500&display=swap");

*,
p,
ul,
li {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", serif;
  color: #777;
  font-weight: 400;
  scroll-behavior: smooth;
}

/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

li,
a {
  font-weight: 500;
  font-size: 16px;
  color: #24252a;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

li a {
  display: block;
  color: #24252a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  width: 65px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

header .logo {
  cursor: pointer;
  filter: drop-shadow(1px 1px 3px rgb(105, 105, 105));
}

header nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

.footer a {
  color: white;
}

header nav ul li a {
  transition: color 0.2s ease-in-out;
}

header nav ul li :hover {
  color: rgba(0, 136, 169, 1);
  font-weight: bold;
}

header .cta {
  color: #24252a;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid transparent;
}

header .cta:hover {
  background-color: rgba(0, 136, 169, 0);
  border: 1px solid rgba(0, 136, 169, 1);
  color: rgba(0, 136, 169, 1);
}

/* Menu Section */
#restaurant-menu {
  /* padding: 50px 0px; */
  position: relative;
}
#restaurant-menu img {
  width: 150px;
  height: 150px;
  /* box-shadow: 15px 0 #a7c44c; */
  object-fit: cover;
}

#restaurant-menu .menu-section {
  margin: 0 20px 80px;
}

#restaurant-menu .menu-section-title {
  text-transform: uppercase;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 38px;
  display: block;
  font-weight: 500;
  color: #444;
  text-align: center;
  letter-spacing: 1px;
}

#restaurant-menu .menu-section-subtitle {
  font-family: "Anek Telugu", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  color: #444;

  text-align: left;
  letter-spacing: 1px;
  border-bottom: 1px dashed #444;
  margin: 0px 70px;
  width: 90%;
  margin: 0 auto;
}

.item-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0px;
}

.item-container img {
  object-fit: cover;
}

.item-container .info-container {
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.info-container .price {
  font-weight: bold;
}

#restaurant-menu .footer {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  justify-content: space-evenly;
  align-items: center;
}

#restaurant-menu .footer p {
  margin: 10px 0px;
}

#restaurant-menu .footer i {
  margin: 0 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 200ms color ease-in-out;
}

#restaurant-menu .footer i:hover {
  color: rgba(0, 136, 169, 1);
}
